<!DOCTYPE html>
<html xmlns:th="www.themeleaf.org">

<head>
<link rel="stylesheet" href="DashBoard.css">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<header></header>
<body>



	<div class="sidenav">
		<div class="child">
			<a href="/profile">Profile<img src="/images/Profile.png" /></a><br>
		</div>
		<div class="child">
			<a href="/addcontacts">Add Contact<img
				src="/images/AddContacts.png" />
			</a><br>
		</div>
		<div class="child">
			<a href="/showcontacts">Show Contacts<img
				src="/images/ShowContacts.png" /></a><br>
		</div>
		<div class="child">
			<a href="">Exit<img src="/images/Exit.png" /></a>
		</div>
	</div>
</body>
</html>