<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="NewDesign.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<script src="NewDesign.js"></script>

	<!-- jQuery library -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<aside>
		<p>Menu</p>
		<a href="/profile"> <i class="fa fa-user-o"
			aria-hidden="true"></i> PROFILE
		</a> <a href="/addcontacts"> <i class="fa fa-laptop"
			aria-hidden="true"></i> ADD CONTACTS
		</a> <a href="/showcontacts"> <i class="fa fa-clone"
			aria-hidden="true"></i> SHOW CONTACTS
		</a> <a href="/contactus"> <i class="fa fa-star-o"
			aria-hidden="true"></i> CONTACT US
		</a> <a href="javascript:void(0)"> <i class="fa fa-trash-o"
			aria-hidden="true"></i> LOGOUT
		</a>
	</aside>

	<div class="social">
		<a href="https://www.linkedin.com/in/florin-cornea-b5118057/"
			target="_blank"> <i class="fa fa-linkedin"></i>
		</a>
	</div>
</body>
</html>